* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.navbar {
    height: 100px;
}

.image-overlay {
    position: relative;
    display: inline-block;

    img {
        width: auto;
    }
}

.overlay-content {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 243, 227, 1);
    padding: 20px;
}

.overlay-content p {
    margin: 0;
}
